.intro__heading {
    margin-bottom: 1rem;
}
.intro__text {
    font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", Roboto, Noto, sans-serif;
    font-size: 1rem;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: 1.38;
    margin-bottom: 1rem;
}
.intro__text p {
    font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", Roboto, Noto, sans-serif;
    font-size: 1rem;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: 1.38;
    margin: 0px 0px 1rem;
}
.intro__text * {
    color: rgb(75, 75, 75);
}
.intro__content-source {
    font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", Roboto, Noto, sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: 1.34;
    color: rgb(111, 111, 111);
}
.feedback-button {
    cursor: pointer;
}
.feedback-button {
    font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", Roboto, Noto, sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: 1.34;
    color: rgb(111, 111, 111);
    text-align: left;
    text-decoration: underline;
}
.intro__related-title {
    font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", Roboto, Noto, sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: 1.34;
    padding-top: 16px;
}
.content-section--full-bleed {
    padding-top: 56px;
}
.job-skills {
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 100%;
}

.job-skills {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #ececec;
}
.job-skills .content-wrapper.with-padding {
    padding-top: 0;
    margin-bottom: 0;
}
.job-skills__heading {
    display: flex;
    margin-bottom: 1rem;
}
.round-icon {
    border-radius: 50%;
}
.hide-on-mobile {
    display: block;
}
.job-skills__heading-image {
    width: 72px;
    height: 72px;
    margin-right: 1.5rem;
}
.job-skills__heading-content {
    align-self: center;
}
.with-checked-list ul {
    flex-direction: row;
}
.with-checked-list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.with-checked-list .job-skills__list {
    margin-bottom: 0;
    padding-bottom: 0;
}
.with-checked-list ul li {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 60.1 (88133) - https://sketch.com --%3E%3Ctitle%3Echeck%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpolygon id='path-1' points='14.0733567 19.2063106 22.953331 9 25 10.662169 14.2655018 23 7 16.1386984 8.86891987 14.2914111'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard'%3E%3Cg id='check'%3E%3Crect id='Rectangle' fill='%23FFFFFF' opacity='0.01' x='0' y='0' width='32' height='32'%3E%3C/rect%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cuse id='Mask' fill='%2366BB11' fill-rule='nonzero' xlink:href='%23path-1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top left;
    list-style-type: none;
    padding-left: 38px;
    padding-top: .25rem;
    padding-right: 1rem;
    color: #4b4b4b;
    margin-bottom: 1rem;
    font-family: "Helvetica Neue",Helvetica,Arial,"Liberation Sans",Roboto,Noto,sans-serif;
    font-size: 1rem;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 1.38;
}
.content-section {
    padding-top: 40px;
}
.content-section>h2, .content-section>h1 {
    margin-bottom: 1.5rem;
}
.career-advice__charts {
    flex-direction: row;
}

.career-advice__charts {
    display: flex;
    flex-direction: column;
}
.career-advice__charts .simple-chart:first-child {
    margin-right: 2rem;
    margin-bottom: 0;
}
.career-advice__charts .simple-chart:first-child {
    margin-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
}
.career-advice__charts .simple-chart {
    flex: 1;
}
.simple-chart {
    max-height: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #ececec;
    border-radius: 8px;
}
.simple-chart__heading {
    padding: 1rem;
    border-bottom: 1px solid;
    border-color: #ececec;
}
.rv-xy-plot {
    color: #c3c3c3;
    position: relative;
}
.rv-xy-plot__inner {
    display: block;
}
.career-advice__charts .rv-xy-plot__axis__tick__line {
    display: none;
}

.rv-xy-plot__axis__tick__line {
    stroke: #e6e6e9;
}
.simple-chart__caption {
    padding-left: 2rem;
    padding-right: 2rem;
}

.simple-chart__caption {
    font-family: "Helvetica Neue",Helvetica,Arial,"Liberation Sans",Roboto,Noto,sans-serif;
    font-size: .75rem;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 1.34;
    color: #4b4b4b;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.rv-xy-plot {
    color: #c3c3c3;
}
.rv-xy-plot__axis__line {
    fill: none;
    stroke-width: 2px;
    stroke: #e6e6e9;
}
h3.simple-chart__heading {
    font-family: "Helvetica Neue",Helvetica,Arial,"Liberation Sans",Roboto,Noto,sans-serif;
    font-size: 1.125rem;
    letter-spacing: -.06px;
    font-weight: 700;
    line-height: 1.34;
}
.rv-xy-plot__axis__tick__text {
    fill: #6b6b76;
    font-size: 11px;
}
text {
    fill: #6b6b76;
}
.job-qualifications .with-checked-list {
    border: 1px solid;
    border-radius: 8px;
    border-color: #ececec;
    padding: 1.5rem;
}
.content-wrapper--last {
    margin-bottom: 56px;
}
.content-section {
    padding-top: 40px;
}
.content-wrapper--last {
    margin-bottom: 56px;
}
.articles__list {
    margin-bottom: 2rem;
    flex-direction: row;
    display: flex;
}
.articles__list {
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
}
.articles__item {
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    margin-right: 1rem;
    border-color: #ececec;
    max-width: 33%;
    margin-bottom: 0;
    transition: box-shadow 500ms ease;
}

.articles__item {
    padding: 0;
    flex: 1;
    display: flex;
    margin-bottom: 1rem;
}
img.lazyloaded {
    opacity: 1;
    transition: opacity 400ms;
}
.articles__thumbnail {
    width: 100%;
    min-height: 168px;
    border-radius: 0;
    margin-right: 0;
    margin-bottom: 1rem;
}

.articles__thumbnail {
    min-width: 78px;
    width: 100%;
    margin-right: 1rem;
    background-size: cover;
    background-position: 50%;
    object-fit: cover;
}
.articles__info {
    padding: 1rem;
    justify-content: flex-start;
    padding-top: 0;
    flex: 1 1 auto;
}
.articles__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.articles__info .articles__tag {
    color: #909090;
    margin-bottom: .5rem;
    font-family: "Helvetica Neue",Helvetica,Arial,"Liberation Sans",Roboto,Noto,sans-serif;
    font-size: .75rem;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 1.34;
}
.hide-on-mobile {
    display: block;
}
.articles__info .articles__title {
    margin-bottom: .5rem;
}
.articles__info .articles__title {
    color: #000;
    margin-bottom: .5rem;
}
.articles__info>.articles__readfull {
    margin-top: auto;
    text-align: right;
    font-family: "Helvetica Neue",Helvetica,Arial,"Liberation Sans",Roboto,Noto,sans-serif;
    font-size: .875rem;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 1.43;
}
.articles .content-section .articles__viewmore {
    width: 200px;
    margin: auto;
    display: block;
}
.icl-Button--secondary {
    margin: 0;
    text-align: center;
    background-color: #fff;
    border: .125rem solid #085ff7;
    border-radius: 6.25rem;
    background-repeat: repeat-x;
    cursor: pointer;
}
a.articles__link {
    text-decoration: none;
}
a.icl-Button.icl-Button--secondary.icl-Button--md.articles__viewmore.icl-Button--blue-hover {
	text-decoration: none;	
}
.icl-Button.icl-Button--blue-hover:hover {
    background: #085ff7;
    color: #fff;
}
.icl-Button.icl-Button--blue-hover{
	background: #fff;
	color: #085ff7;
}